.inbox-comment-card {
    width: 35rem;
    height: fit-content;
    margin: 0.2em 0em;
    --bs-card-bg: var(--dark-blue);
}

.inbox-comment-card .card-body {
    margin-bottom: 0;
    padding: 0;
    color: var(--white-teal);
    background-color: var(--teal);
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    border: transparent;
    border-radius: 11px;
    /* width: auto; */
    height: 3rem;
    display: flex;
    align-items: center;
}

.inbox-comment-card .card-row {
    height: 4rem;
    width: 100%;
    flex-wrap: nowrap;
}

.inbox-comment-card .card-header {
    background-color: var(--orange);
}

.inbox-comment-card .profilePicCard {
    width: 3em;
    /* height: 2em; */
    aspect-ratio: 1/1;
    border-radius: 100%;
    outline: solid var(--orange) 2px;
    text-align: center;
    display: flex;
    color: var(--white-teal);
    overflow: hidden;
    place-content: center;
    margin-left: -1.5em;
}

.inbox-comment-card .text {
    color: var(--dark-blue);
    font-size: 1em;
    align-items: center;
    width: 100%;
    vertical-align: middle;
    margin-top: 1em;
    margin-bottom: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: small;
}

.inbox-comment-card .inbox-comment-card-profile {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 0;
    max-width: 15rem;
    font-size: small;
}

.inbox-comment-card .inbox-comment-card-profile {
    cursor: pointer;
}

.inbox-comment-card .inbox-comment-card-comment {
    padding: 1em 1em 1em 2em;
    color: var(--white-teal);
    background-color: var(--dark-blue);
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    border-radius: 11px;
    font-size: small;
    font-family: "Readex Pro Light";
    width: 100%;
    white-space: pre-line;
}