.search-bar-explore {
    padding: 0.5em 3em;
    width: 20em;
    text-align: center;
    background-color: var(--slightly-darker-blue);
    color: var(--white-teal);
    border: none;
    border-bottom: solid 1px var(--orange);
    position: relative;
}

.FaSearch {
    color: var(--teal);
    margin-left: 0em;
    display: flex;
    align-items: center;
    height: 2em;
    width: 2em;

}

.search-bar-explore:focus {
    outline: none !important;
    border: solid 3px var(--orange);

}

.custom {
    width: 20em;
}

.searchResult {
    position: relative;
}

.public-post {
    border-style: solid;
    border-width: medium;
}