.main-content-container {
    width: auto;
    height: auto;
    background-color: var(--darker-blue);
    color: white;
    padding: 2rem;
}

.posts {
    width: 1100000%;
}
.card {
    width: 500%;
    min-width: none;
}

.card-body {
    width: 200%;
    margin-bottom: 5%;
}
