:root {
    --trickyScale: 1;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    height: fit-content;
}

.profileHeader {
    background-color: var(--dark-blue);
    align-self: center;
    width: fit-content;
    min-width: 40em;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-radius: 11px;
    display: flex;
    align-items: center;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}

.profilePicPage {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    outline: solid var(--orange) 3px;
    text-align: center;
    display: flex;
    color: var(--white-teal);
    overflow:hidden;
    place-content: center;
}

.profilePicWithFollowButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    gap: 1rem;
}

#followButton {
    font-size: 0.8rem;
    width: fit-content;
    height: 2em;
    color: var(--darker-blue);
    background-color: var(--teal);
    display: inline-flex;
    align-items: center;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    align-content: center;
}

.profileName {
    font-size: 3rem;
    color: var(--white-teal);
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    height: fit-content;
    line-height: 76px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileStats {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-left: 1rem;
}

#statContainer {
    display: flex;
    gap: 0.5rem;
}

span {
    color: var(--teal);
    font-size: 1rem;
}

.infoNum {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    align-self: center;
    padding: 0.3rem;
    border-radius: 2rem;
    width: fit-content;
    max-width: 3rem;
    height: 1.5rem;
    background-color: var(--orange);
    color: var(--dark-blue);
    overflow: hidden;
    text-overflow: ellipsis;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em 0em;
    width: 50vw;
    align-self: center;
}
