.edit-profile-modal .modal-header {
    border-bottom: 0 none;
}

.edit-profile-modal .modal-footer {
    border-top: 0 none;
}

.edit-profile-modal {
    min-width: 35em !important;
    width: 35em !important;
    max-width: 35em !important;
    transform: translateX(30%) !important;
}

.edit-profile-button {
    margin-top: 2em;
    color: var(--dark-blue);
    background-color: var(--teal);
    border-radius: 2em;
}

.edit-profile-button:hover {
    background-color: var(--teal-alt);
    color: var(--dark-blue);
}