@font-face {
    font-family: 'Readex Pro';
    src: local('Readex Pro'), url(./des/fonts/ReadexPro-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Readex Pro Light';
    src: local('Readex Pro Light'), url(./des/fonts/ReadexPro-Light.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Readex Pro Medium';
    src: local('Readex Pro Medium'), url(./des/fonts/ReadexPro-Medium.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Readex Pro Bold';
    src: local('Readex Pro Bold'), url(./des/fonts/ReadexPro-Bold.ttf) format('truetype');
  }

// overwrite theme variables
@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";


$theme-colors: (
    "teal": #BFEFE9,
    "orange": #FFC271,
    "teal-alt": #84c2bb,
    "dark-blue": #242A37,
    "slightly-darker-blue": #1C212B,
    "darker-blue": #1A1C1E,
    "even-darker-blue": #17191B,
    "white-teal": #ECFAF8
);



$font-family-sans-serif: system-ui, -apple-system, "Readex Pro" !default;
$font-family-base: "Readex Pro" !important;


@import "node_modules/bootstrap/scss/bootstrap.scss";


