#topnav {
    position: sticky;
    width: 100%;
    top:0;
    box-shadow: 0px 4px 5px #17191B;
    z-index: 100; 
}

#profilePicContainer {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    outline: solid var(--orange) 3px;
    overflow: hidden;
    text-align: center;
    display: flex;
    place-content: center;
    align-self: center;
}

#profilePicContainer:hover {
    outline: solid var(--teal) 5px;
}

.navbar-expand .navbar-nav .nav-link {
    align-self: center;
}