.create-post-modal .modal-content {
    background-color: #1C212B;
    min-width: 60em;
    min-height: 15em;
    margin-top: 5em;
    margin-left: -6em;
    border: none;
}

.create-post-modal .modal-header{
    border: none;
    min-height: 8em !important;
}

.create-post-modal  .modal-footer {
    border: none;
}

.create-post-modal  .modal-body {
    height: 200%;
    width: auto;
    padding: 15px;
}

.create-post-modal  .modal-title {
    font-size: 2em;
    color: #BFEFE9;
    border: none;
}

.create-post-modal  .title {
    font-size: 100em;
    margin-bottom: 1.5%;
}


.create-post-modal  .body {
    font-size: 1em;
    padding-bottom: 15em;
    text-align: left;
}


.create-post-modal  .unlist {
    background: transparent;
    border: none;
    color: #BFEFE9;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 85%;
}

.create-post-modal  .header {
    margin: 0px auto;
}

.create-post-modal  .header1 {
    width: 40%;
    font-size: 110%;
    margin-top: 1%;
    margin-right: -10%;
}

.create-post-modal  .option {
    background: transparent;
    border: none;
    color: #BFEFE9;
    font-size: 85%;
}

.create-post-modal  .radio input {
    display: none;
}

.create-post-modal  .image {
    font-size: 200%;
    color: white;
}

.create-post-modal  .link {
    margin-left: 0.5em;
    font-size: 200%;
    margin-right: auto;
    color: white;
}

.create-post-modal  .postButton {
    border-radius: 15px;    
    font-size: 150%;
    color: black;
    background-color: #BFEFE9;
}