.edit-post-modal .modal-content {
    background-color: #1C212B;
    min-width: 60em;
    min-height: 15em;
    margin-top: 5em;
    margin-left: -6em;
    border: none;
    min-width: 60em !important;
    width: 45% !important;
    /* max-width: 150em !important; */
    transform: translateX(5%) !important;
}

.edit-post-modal div.modal-header{
    display: flex;
    border: none;
    margin: 0px, auto;
    width: 100%;
}

.edit-post-modal  .modal-footer {
    min-height: 5em;
    border: none;
}

.edit-post-modal  .modal-body {
    height: 200%;
    width: auto;
    padding: 15px;
}

.edit-post-modal  .modal-title {
    font-size: 2em;
    color: #BFEFE9;
    border: none;
    margin: 0px auto;
    padding: 0px auto;
    align-items: flex-start;
}

.edit-post-modal  .title {
    font-size: 100em;
    margin-bottom: 1.5%;
}


.edit-post-modal  .body {
    font-size: 1em;
    padding-bottom: 15em;
    text-align: left;
}


.edit-post-modal  .unlist {
    background: transparent;
    border: none;
    color: #BFEFE9;
    margin-right: 1%;
    font-size: 85%;
}

.edit-post-modal .header.modal-title.h4 {
    margin: 0px auto;
    text-align: left;
    width: auto;
}

.edit-post-modal .header1.modal-title.h4 {
    width: 30%;
    font-size: 110%;
}

.edit-post-modal  .option {
    background: transparent;
    border: none;
    color: #BFEFE9;
    font-size: 85%;
    margin-left: -10%;
    margin-right: 10%;
}

.edit-post-modal  .radio input {
    display: none;
}

.edit-post-modal .image {
    font-size: 200%;
    color: white;
}

.edit-post-modal  .link {
    margin-left: 0.5em;
    font-size: 200%;
    margin-right: auto;
    color: white;
}

.edit-post-modal .postButton {
    border-radius: 15px;    
    font-size: 150%;
    color: black;
    background-color: #BFEFE9;
}

.form-control {
    outline: none;
}

.visibility-options {
    padding-left: 5%;
    display: inline-block;
    width: 45%;
    font-size: 1em;
}