.post-card-explore {
    width:20rem;
    height:20rem;
    margin-block: 10px;
    border-color: none;
}

.post-card-explore .card-header {
    display: inline-flex;
    align-items: center;
    background-color: var(--slightly-darker-blue);
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    
}

.post-card-explore .profile-pic-post {
    width: 3em;
    height: 3em;
    aspect-ratio: 1/1;
    border-radius: 80%;
    outline: solid var(--orange) 2px;
    text-align: center;
    display: flex;
    color: var(--white-teal);
    overflow:hidden;
    place-content: center;
}

.post-card-explore .post-author {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    
}
.post-card-explore .post-author-name {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    width:100px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.post-card-explore .card-title {
    font-size: 2rem;
    text-decoration: var(--teal);
    white-space: pre-line;

}

.post-card-explore .card-body {
    color: var(--white-teal);
    background-color: var(--dark-blue);
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    border: transparent;
    border-radius: 0px 0px 2px 2px;
    overflow-y: hidden;
    text-overflow: ellipsis;

}
.post-card-explore .card-text {
    text-decoration: var(--teal);
    white-space: pre-line;
    min-block-size: 6rem;
    max-block-size: 6rem;
    overflow-y: hidden;
    text-overflow: ellipsis;

}
.post-card-explore .comments-text {
    color: var(--teal);
}

.post-card-explore .options {
    display: inline-block;
    white-space: nowrap;
    margin-left: auto;
}

#dropdown-basic {

    display: inline-block;
    white-space: nowrap;
    background-color: #1C212B;
}

.post-card .dropdown-toggle::after {
    content: none;
}

.options .btn-primary {
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: var(--darker-blue);
    border-radius: 2rem;
    --bs-btn-hover-color: var(--teal);
    --bs-btn-active-border-color: var(--teal);
}

.options .dropdown-menu {
    background-color: var(--slightly-darker-blue);
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    --bs-dropdown-link-active-bg: var(--teal);
    --bs-dropdown-link-hover-bg: var(--darker-blue);
    --bs-dropdown-link-hover-color: var(--teal);
    --bs-dropdown-link-color: var(--white-teal);
}

.options .dropdown-menu .delete-post {
    --bs-dropdown-link-hover-color: var(--orange);
}

/* .options .dropdown-menu a {
    color: var(--white-teal);

} */

.options .dropdown-item {
    padding: 0.8em var(--bs-dropdown-item-padding-x);
}