.card {
    --bs-card-bg: none;
}

.card-header {
    width: 40em;
}

.card-title.h5 {
    font-size: 2rem;
    margin-bottom: 3%;
    text-decoration: var(--teal);
}

.card-text {
    margin-left: 1%;
    padding-bottom: 30%;
}

.card-body {
    color: var(--white-teal);
    background-color: var(--dark-blue);
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    border: transparent;
    border-radius: 11px;
    padding: 2rem;
    width: 40em;
}

.comments-text {
    margin-left: 1%;
    padding-bottom: 20%;
}

.options {
    display: inline-block;
    white-space: nowrap;
    margin-left: 85%;
    padding-bottom: 1%;
}

#dropdown-basic {

    display: inline-block;
    white-space: nowrap;
    background-color: #1C212B;
}