.post-card {
    --bs-card-bg: none;
}

.post-card .card-header {
    width: 40em;
    display: inline-flex;
    align-items: center;
}

.post-card .profilePicPost {
    width: 3em;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
    outline: solid var(--orange) 2px;
    text-align: center;
    display: flex;
    color: var(--white-teal);
    overflow:hidden;
    place-content: center;
}

.post-card .card-title.h5 {
    font-size: 2rem;
    margin-bottom: 3%;
    text-decoration: var(--teal);
}

.post-card .card-text {
    margin-left: 1%;
    padding-bottom: 30%;
}

.post-card .card-body {
    color: var(--white-teal);
    background-color: var(--dark-blue);
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    border: transparent;
    border-radius: 11px;
    padding: 2rem;
    width: 40em;
}

.post-card .comments-text {
    margin-left: 1%;
    padding-bottom: 20%;
}

.options {
    display: inline-block;
    white-space: nowrap;
    margin-left: 85%;
    padding-bottom: 1%;
}

#dropdown-basic {

    display: inline-block;
    white-space: nowrap;
    background-color: #1C212B;
}